*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: transparent;
    border-width: 0;
    padding: 0;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    border: 0;
}