/* Слайдер */

.slick-slider {}


/* Слайдер запущен */

.slick-slider.slick-initialized {}


/* Слайдер с точками */

.slick-slider.slick-dotted {}


/* Ограничивающая оболочка */

.intro__slider .slick-list {
    overflow: hidden;
}

.comments__slider .slick-list {
    overflow: hidden;
}

.comments__sliderMin .slick-list {
    overflow: hidden;
}


/* Лента слайдов */

.intro__slider .slick-track {
    display: flex;
}

.comments__slider .slick-track {
    display: flex;
}

.comments__sliderMin .slick-track {
    display: flex;
}


/* Слайд */

.slick-slide {}


/* Слайд активный (показывается) */

.slick-slide.slick-active {}


/* Слайд основной */

.slick-slide.slick-current {}


/* Слайд по центру */

.slick-slide.slick-center {}


/* Клонированный слайд */

.slick-slide.slick-cloned {}


/* Стрелка */

.slick-arrow {}


/* Стрелка влево */

.slick-arrow.slick-prev {}


/* Стрелка вправо */

.slick-arrow.slick-next {}


/* Стрелка не активная */

.slick-arrow.slick-disabled {}


/* Точки (булиты) */

.intro__slider .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 65px;
}

.intro__slider .slick-dots li {
    margin-left: 10px;
    &:first-child {
        margin-left: 0;
    }
}


/* Активная точка */

.intro__slider .slick-dots li.slick-active button {
    background-color: $blue;
    border-color: $blue;
}


/* Элемент точки */

.intro__slider .slick-dots li button {
    font-size: 0;
    display: block;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid $white;
    &:focus {
        outline: none;
    }
}