.btn {
    display: inline-block;
    color: rgba(0, 224, 208, 1);
    font-weight: 700;
    font-size: 16px;
    padding: 10px 29px;
    border-radius: 2px;
    border: 1px solid $blue;
    text-transform: uppercase;
    transition: color .2s linear;
    &:hover {
        color: rgba(0, 224, 208, .7);
    }
    &:focus {
        outline: none;
    }
}