.comments {
    background: #221b41 url(../img/comments/comemnts_back.jpg) no-repeat center;
    background-size: cover;
}

.comments__inner {
    max-width: 770px;
    margin: 0 auto;
    padding: 70px 0px;
}

.comments__slider {}

.comments__item {
    text-align: center;
}

.comments__quotes {
    margin-bottom: 40px;
}

.comments__text {
    font-size: 16px;
    color: $white;
    letter-spacing: 0.25px;
    line-height: 1.62;
    margin-bottom: 40px;
}

.comments__person {
    color: $white;
    margin-bottom: 40px;
}

.comments__name {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 700;
}

.comments__prof {
    font-size: 13px;
}