.footer {
    background: #2d2250 url(../img/footer/footer__back.jpg) no-repeat center;
    background-size: cover;
    padding: 70px 0px;
}

.footer__inner {}

.footer__top {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -13px 60px;
}

.footer__top--item {
    width: 33.333%;
    padding: 0px 13px;
}

.footer__top--item--logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer__name {
    display: block;
    font-size: 30px;
    font-weight: 100;
    color: #00e0d0;
    margin-left: 10px;
}

.footer__top--item--text {
    color: $white;
    line-height: 1.85;
    letter-spacing: 0.25px;
}

.footer__top--name {
    padding-top: 15px;
    line-height: 1.85;
    font-size: 15px;
    letter-spacing: 0.50px;
    color: $white;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

.footer__top--contact {
    display: flex;
    margin-bottom: 20px;
}

.footer__top--contact--icon {
    padding-right: 10px;
}

.footer__top--contact--text {
    line-height: 1.85;
    color: $white;
    letter-spacing: 0.25px;
}

.footer__top--phone {
    display: flex;
    & a {
        color: $white;
    }
}

.footer__form-send {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    input {
        width: 210px;
        background-color: transparent;
        border: 1px solid #9d97af;
        padding: 13px 15px;
        color: #fff;
        &:focus {
            outline: none;
        }
    }
}

.footer__btn {
    background-color: rgba(white, 0.5);
    padding: 9px 20px;
    margin-left: 10px;
    &:focus {
        outline: none;
    }
}

.footer__social {
    display: flex;
}

.footer__social--link {
    display: block;
    margin-right: 8px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    width: 40px;
    height: 40px;
    transition: transform .3s ease;
    &:hover {
        transform: translateY(-5px);
    }
    &:last-child {
        margin: 0;
    }
    & img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.footer__end {
    display: flex;
    justify-content: space-between;
}

.footer__links {
    & a {
        margin-right: 30px;
        color: $white;
        text-transform: uppercase;
        &:last-child {
            margin: 0;
        }
    }
}

.footer__copy {
    color: $white;
    letter-spacing: 0.25px;
}