.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    &:before {
        content: "";
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 2;
        background-color: #332a53;
    }
    &.fixed {
        position: fixed;
        &:before {
            display: block;
        }
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 70px;
}

.header__logo {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.header__name {
    display: block;
    font-size: 30px;
    font-weight: 100;
    color: $blue;
    margin-left: 10px;
}

.header__list {
    display: flex;
    z-index: 2;
    position: relative;
    & li {
        margin-left: 20px;
        &:first-child {
            margin: 0;
        }
    }
}

.header__link {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    font-weight: 700;
    color: $white;
    transition: opacity .2s ease-in;
    &:hover {
        opacity: .5;
    }
}