.story {
    padding: 70px 0px;
}

.story__inner {
    display: flex;
}

.story__logo {
    padding: 0 100px 0 60px;
}

.story__title {
    font-size: 22px;
    margin-bottom: 20px;
    letter-spacing: 0.50px;
}

.story__text {
    line-height: 1.57;
    letter-spacing: 0.30px;
    margin-bottom: 30px;
    & p {
        &:first-child {
            margin-bottom: 25px;
        }
    }
}

.video {
    max-height: 550px;
    overflow: hidden;
    position: relative;
    background: url(../video/traffic_pic.png) no-repeat center;
    background-size: cover;
}

.story__video {
    position: relative;
    padding-bottom: 56.25%;
    z-index: 1;
}

.video__media {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.video__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #28214b;
    opacity: .9;
    z-index: 2;
}

.video__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
    & .video__text {
        margin-top: 30px;
        color: $white;
        text-transform: uppercase;
        font-size: 16px;
        display: block;
    }
}