.team {
    background: url(../img/team-back.jpg) no-repeat center;
    background-size: cover;
    padding: 70px 0px;
}

.block__title.white {
    color: $white;
}

.block__text.white {
    color: #f9f9f9;
    &:after {
        background-color: #655b80;
    }
}

.team__block {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -10px 60px;
}

.team__item {
    width: 25%;
    padding: 0px 10px;
}

.team__photo {
    & img {
        display: block;
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}

.team__info {
    border: 1px solid #77768a;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 15px;
}

.team__name {
    color: $white;
    margin-bottom: 5px;
    font-weight: 700;
    letter-spacing: 0.50px;
}

.team__prof {
    color: #fafafa;
    font-size: 13px;
}

.block__btn {
    text-align: center;
    & p {
        color: #f3f3f3;
        margin-bottom: 20px;
    }
}