.works__header {
    padding: 60px 0px;
}

.works__header--inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.works__header--title {
    text-transform: uppercase;
    font-size: 22px;
}

.works__header--link {
    display: block;
    padding-right: 20px;
    background: url(../img/right.svg) right center no-repeat;
}

.works__main {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 65px;
}

.works__main--item {
    width: 16.66%;
    & img {
        display: block;
        max-width: 100%;
        height: auto;
        width: 100%;
    }
}

.works__button {
    text-align: center;
    margin-bottom: 65px;
}